.titulo2 {
    font-family: 'Dancing Script', cursive;
    margin-top: 10%;
    color:black;
    margin-bottom: 50px;
}

h1 {
    font-size: 100px;
}

.img {
    border-radius: 8%;
    padding: 10 !important;

  }

.imgs {
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0.9;
    height: 100px;
    margin-top:0px;
}

/* ICONOS  */
.icons {
    margin-top:300px;
    size: 80px;
}
a {
    font-size: 35px;
    color:black;
}

a:link {
    text-decoration: none;
}

/* ACERCA DE */

.acercade {
    color:black;
    font-size: 20px;
}


/* FORMS */
.form-group {
    color:black;
}



@media only screen and (max-width: 600px){
    .title{
        font-size: 270%;
    }
    h2 {
        font-size: 170%;
    }
    .acercade{
        font-size: 90%;
    }
    .img{
        border-radius: 5%;
        padding: 0 !important;
    }
    .imgs{
        margin-top: 0%!important;
    }
    .icons{
        margin-top: 15%!important;
    }
    .fabicon{
        font-size: 130%;
    }
    .form-group{
        font-size: 100%;
    }
    #label{
        font-size: 100%;
    }

}


@media (max-width: 1000px) {
    h1 {
        font-size: 50px;
    }
    .titulo2 {
        margin-bottom: 30px;
    }
    .icons{
        margin-top: 15%!important;
    }
  }